git+https://github.com/Rapptz/discord.py.git
tortoise-orm
colorama
asyncpg
dateparser
aerich
parsedatetime
Pillow
mystbin.py
prettytable
psutil
PyNaCl
Quart
requests
dblpy
jishaku
humanize
pygit2
async-property
colour
imgkit
aiocache
ujson
ImageHash
pytesseract
python-socketio
aiohttp-asgi
fastapi
python-multipart
lru-dict